<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="shared/layout :: head"></head>
<body>
	<div th:replace="shared/header :: header"></div>

	<div class="single_top">
		<div class="container">
			<div class="box_4">
				<div class="col-md-8 about_left">
					<h1>Hệ thống quản lý quán ăn</h1>
					<img src="/banner/system.jpg" class="img-responsive" alt="" />
					<p>Sự phát triển công nghệ cao đã mang lại 1 bộ mặt mới cũng như 1 cách thức mới trong quản lý vấn đề khách sạn hiện nay. 
					Chỉ cần có mạng internet ông chủ quán ăn có thể thực hiện theo dõi toàn bộ hoạt động về đặt phòng, sản phẩm, doanh thu trong lòng bàn tay dù ở bất cứ đâu, hay ở bất ký thời gian nào .
					 Nếu như xu thế đó đang được ứng dụng rộng rãi tại nước ngoài thì xu hướng đó cũng đang dần xâm nhập vào Việt Nam đặc biệt là thế hệ quản lý của các ông chủ thuộc thế hệ 8x-9x hiện nay, những người thấu hiểu sức mạnh của thế hệ công nghệ cao cũng như giá trị của nó đem lại trong vấn đề quản lý. 

</p>
					<div class="faqs">
						<h2>Tại sao lại chọn chúng tôi</h2>
						<div class="questions">
							<h3>1. Điều hành từ bất cứ đâu</h3>
							<p>Dù ở bất cứ nơi đâu bạn vẫn luôn nắm được tình hình hoạt động của nhà hàng/quán qua mobile: hôm nay có đông khách không, công suất phục vụ thế nào, doanh thu là bao nhiêu, lãi lỗ thế nào....</p>
						</div>
						<div class="questions">
							<h3>2. Tiết kiệm nguyên vật liệu</h3>
							<p>Chủ nhà hàng luôn nắm được từng NVL tồn kho còn đủ để bán hàng hay không, cần nhập thêm bao nhiêu là phù hợp, NVL nào sắp hết hạn cần ưu tiên dùng trước, bếp sử dụng NVL có đúng định mức không... từ đó chủ nhà hàng luôn chủ động về NVL, tiết kiệm tối đa mà vẫn đảm bảo NVL cung ứng.</p>
						</div>
						<div class="questions">
							<h3>3. Kiểm soát sai lệch</h3>
							<p>Hao hụt NVL không rõ lý do? Thất thoát tiền khi bán hàng? Sai lệch khi in phiếu tạm tính và in hóa đơn cho khách? NVPV hủy món quá nhiều? 
Nếu đó là những lo lắng hiện tại của bạn thì CUKCUK.VN chính là giải pháp giúp mọi vấn đề trong tầm kiểm soát.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 sidebar">
					<h2>KHÁCH HÀNG NÓI VỀ CHÚNG TÔI</h2>
					<div class="testimonials">
						<h3>
							Bill Gate
						</h3>
						<p>
							<span class="quotes"></span>Trang web giúp tôi giảm được chi phí nhân sự vừa tránh được sự nhầm lẫn khi order của nhân viên.<span
								class="quotes-down"></span>
						</p>
					</div>
					<div class="testimonials">
						<h3>
							Steve Job
						</h3>
						<p>
							<span class="quotes"></span>Dù ở bất cứ nơi đâu bạn vẫn luôn nắm được tình hình hoạt động của nhà hàng/quán: hôm nay có đông khách không, công suất phục vụ thế nào, doanh thu là bao nhiêu, lãi lỗ thế nào....<span
								class="quotes-down"></span>
						</p>
					</div>
					<div class="testimonials">
						<h3>
							Mark Zuckerberg
						</h3>
						<p>
							<span class="quotes"></span>Trang web thực sự là trợ thủ đắc lực cho quản lý quán từ xa vì tôi không có nhiều thời gian ở quán. Không chỉ quản lý về doanh thu, còn có nhiều tính năng đáp ứng toàn bộ các nghiệp vụ từ lễ tân, thu ngân, bếp, bar, phục vụ… giúp tôi luôn dễ dàng nắm bắt tình hình mọi hoạt động.<span
								class="quotes-down"></span>
						</p>
					</div>

				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div th:replace="shared/footer :: footer"></div>
</body>
</html>