<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="shared/layout :: head"></head>
<body>
	<div th:replace="shared/header :: header"></div>
	<div class="banner">
		<div class="container">
			<div class="banner_desc">
				<h1>New Season Arrivals.</h1>
				<h2>Check out all the new trends</h2>
				<div class="button">
					<a href="#" class="hvr-shutter-out-horizontal">Shop Now</a>
				</div>
			</div>
		</div>
	</div>
	<div class="content_top">
		<h3 class="m_1">Top Sell</h3>
		<div class="container">
			<div class="box_1">
				<div class="col-md-12">
					<div class="section group">
						<div th:each="food,iterStat : ${topSell}" class="col_1_of_3 span_1_of_5 simpleCart_shelfItem">
							<div class="shop-holder">
								<div class="product-img">
									<a style="cursor: pointer;"> 
										<img width="225" height="265" th:src="${food.image}"
										src="images/pic3.jpg" class="img-responsive item_image" alt="item4" />
									</a> 
									<a style="cursor: pointer;" class="button" onclick="addToCart(this)"></a>
								</div>
							</div>
							<div class="shop-content" style="height: 80px;">
								<div class="hidden item_id" th:text="${food.foodId}"></div>
								<div>
									<a  class="item_name" style="cursor: pointer;" rel="tag" th:text="${food.foodName}"></a>
								</div>
								<span class="amount item_price" th:text="${food.price + ' VND'}"></span>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
        <h3 class="m_1" style="margin-top: 15px">Danh sách món ăn</h3>
        <div class="container">
			<div class="box_1">
				<div class="col-md-12">
					<div class="section group">
						<div th:each="food,iterStat : ${listFood}" class="col_1_of_3 span_1_of_5 simpleCart_shelfItem">
							<div class="shop-holder">
								<div class="product-img">
									<a style="cursor: pointer;"> 
										<img width="225" height="265" th:src="${food.image}"
										src="images/pic3.jpg" class="img-responsive item_image" alt="item4" />
									</a> 
									<a style="cursor: pointer;" class="button" onclick="addToCart(this)"></a>
								</div>
							</div>
							<div class="shop-content" style="height: 80px;">
								<div class="hidden item_id" th:text="${food.foodId}"></div>
								<div>
									<a  class="item_name" style="cursor: pointer;" rel="tag" th:text="${food.foodName}"></a>
								</div>
								<span class="amount item_price" th:text="${food.price + ' VND'}"></span>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div th:replace="shared/footer :: footer"></div>
   
   </body>
        
</html>