<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="shared/layout :: head"></head>
<body>
<div th:replace="shared/header :: header"></div>

<h3 class="m_1" style="margin-top: 39px">Lịch sử đơn hàng
</h3>
<div class="container">
	<div class="box_1">
		<table class="table table-striped">
		    <thead>
		      <tr>
		        <th>Mã đơn hàng</th>
		        <th>Ngày đặt hàng</th>
		        <th>Tổng tiền</th>
		        <th>Tình trạng</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td>1</td>
		        <td>1/11/2017</td>
		        <td>169000</td>
		        <td>Đã giao hàng</td>
		      </tr>
		      <tr>
		        <td>2</td>
		        <td>2/11/2017</td>
		        <td>196000</td>
		        <td>Đã giao hàng</td>
		      </tr>
		    </tbody>
		</table>
	</div>
</div>

<div th:replace="shared/footer :: footer"></div>
</body>
</html>