<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="shared/layout :: head"></head>
<body>
<div th:replace="shared/header :: header"></div>

<h3 class="m_1" style="margin-top: 39px">Lịch sử đơn hàng
</h3>
<div class="container">
	<div class="box_1">
		<table class="table table-striped">
		    <thead>
		      <tr>
		        <th>Mã đơn hàng</th>
		        <th>Ngày tháng</th>
		        <th>Tổng tiền</th>
		        <th>Tình trạng</th>
		      </tr>
		    </thead>
		    <tbody th:each="order : ${listOrder}">
		      <tr>
		        <td th:text="${order.getProductOrderId()}"></td>
		        <td th:text="${order.getDateOrder()}"></td>
		        <td th:text="${order.getTotalMoney()}"></td>
		        <td th:text="${order.getOrderStatus()}"></td>
		      </tr>
		    </tbody>
		</table>
	</div>
</div>

<div th:replace="shared/footer :: footer"></div>
</body>
</html>